body {
    background-image: url("../images/trainstation.jpg");
    background-size: 100%;
    background-repeat: repeat-x repeat-y;
    background-position: center center;
}
.mainJumbo {
    background-image: url("../images/gradient.jpg");
    background-size: 100%;
    background-repeat: repeat-x repeat-y;
    background-position: center center;
}

.jumboText {
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px #000000;
}

.secJumbo {
    background-image: url("../images/gradient.jpg");
    background-size: 100%;
    background-repeat: repeat-x repeat-y;
    background-position: center center;
}

.secTitles {
    font-size: 1.25rem;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.opac {
    opacity: .9;
}

.btn {
    background-image: url("../images/gradient.jpg");
    background-size: cover;
}

.btn:hover {
    width: 100px;
    height: 50px;
  }