body {
    background-image: url("../images/tracks.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}
.mainJumbo {
    background-image: url("../images/gradient.jpg");
    background-size: cover;
}

.jumboText {
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
}

.secJumbo {
    background-image: url("../images/gradient.jpg");
    background-size: cover;
}

.secTitles {
    font-size: 1.25rem;
    font-family: 'Anton', sans-serif;
}

.opac {
    opacity: .95;
}

.btn {
    background-image: url("../images/gradient.jpg");
    background-size: cover;
}

.btn:hover {
    width: 100px;
    height: 50px;
  }